body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(195, 195, 195);
    color: rgb(45, 0, 0);
    
}

/* Hides bullet points from todo list */
#header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 15px;
    
}
.menu-item{
    list-style-type: none;
}
.menu-item a{
    text-decoration: none;
    color: rgb(45, 0, 0);
}

.menu-item img{
    width: 25px;
    height: 25px;
    margin-top: 12.5px;
}
.notifies{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50px;
    background-color: rgb(195, 195, 195);
    z-index: 900;
    min-width: 250px;
    border-left: 1px solid rgb(70, 70, 70)  ;
    border-right: 1px solid rgb(70, 70, 70)  ;
}
#notifyBell{
   cursor: pointer;
}
/* #notifyBell:hover{
   width: 30px;
   height:30px;
} */
.notifies-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}
#notifies-list{
    list-style-type: none;
    padding: 0;
}
.qty__text{
    color:rgb(45, 0, 0);
    /* margin-top: -0.80rem; */
    font-size: 1.1rem;
}

.view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.hide {
    display: none; /* Hides pop-up */
}


.main__section{
    height: 85vh;
    background-color: rgb(223, 223, 223); 
    z-index: 100;       
}