body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(49, 49, 49);
    color: #FFF;
    
}

/* Hides bullet points from todo list */
#header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 15px;
    
}
.menu-item{
    list-style-type: none;
}
.menu-item a{
    text-decoration: none;
    color: #FFF;
}

.menu-item img{
    width: 25px;
    height: 25px;
    margin-top: 12.5px;
}
.notifies{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50px;
    
}
#notifyBell{
   cursor: pointer;
}
/* #notifyBell:hover{
   width: 30px;
   height:30px;
} */
.notifies-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}
#notifies-list{
    list-style-type: none;
}
.qty__text{
    color:rgb(233, 223, 223);
    /* margin-top: -0.80rem; */
    font-size: 1.1rem;
}

.view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

#todoapp ul {
    list-style-type: none;
    }
    
    .toggled {
      display: none; /* Hides pop-up */
    }
    
    #todo-list .editing label {
      display: none; /* Hides label text when .editing*/
    }
    #todo-list .editing input.edit {
      display: inline; /* Shows input text box when .editing*/
    }  